<div class="container mt-5">
  <div id="header">
    <h1>Bem-vindo ao Exchange</h1>
    <p>
    Site onde você pode encontrar serviços, oferecer seu serviço e 
    fazer sua troca de experiência e melhoria de vida.
    </p>
  </div>
  <div class="img-escambo mt-5">
    <%= image_tag(
      "home-exchange.png", 
        :alt => "rss feed", 
        :class => "d-inline-block align-text-top" 
      ) %>
  </div>
</div>
  